// src/components/Player/Player.scss

.AddPlayerForm {
  p {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
    text-shadow: 2px 2px 10px white, 6px 6px 10px white;
  }

  button {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;

    font-family: inherit;
    transition: all 0.2 s ease;
    background: white;
    border: 2px solid green;
    border-radius: 8px;

    // other styles
    &:hover {
      background: rgba(30, 211, 24, 0.521);
    }
    &:active {
      box-shadow: 0 0 6px 6px yellow, 0 0 6px 6px yellow;
    }
    &:focus {
      background: rgba(30, 211, 24, 0.521);
    }
  }
}
